<div class="alert alert-info">
  <img src="/images/squirrel.png" height="16px"/>
  <a ui-sref="default.browse"> Pabili</a>
  > Postings
  > <a ui-sref="default.posting.new.details">{{post.title | limitTo: 10}}{{post.title.length > 10 ? '...' : ''}}</a>
  > <a ui-sref="default.posting.new.location">{{post.location.name | limitTo: 10}}{{post.location.length > 10 ? '...' : ''}}</a>
  > Upload images
</div>

<p>Please upload images to a third party website. We recommend <a href="http://www.imgur.com" target="_blank">Imgur</a>.
<p>They will host the photos much faster than we ever could.

<form name="imageForm" class="form form-horizontal mt20">
  <div class="form-group">
    <label class="col-sm-2">Thumbnail URL</label>
    <div class="col-sm-4">
      <input type="text" ng-model="post.imageUrl"
       class="form-control"
       placeholder="Thumbnail URL"
       required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2">Album URL</label>
    <div class="col-sm-4">
      <input type="text" 
       ng-model="post.albumUrl"
       placeholder="Album URL (optional)"
       class="form-control" />
    </div>
  </div>

  <div class="col-sm-4 col-sm-push-2 text-right">
    <small ng-if="!invalidDetails() && !invalidLocation()" class="muted" style="margin-right: 10px;">Step 3 of 3</small>
    <small ng-if="invalidDetails() || invalidLocation()" class="muted label label-danger" style="margin-right: 10px;">There are errors in previous steps!</small>
    <span ui-sref="default.posting.new.location" class="btn btn-default">Back</span>
    <span ui-sref="default.posting.new.preview" ng-disabled="imageForm.$invalid || invalidDetails() || invalidLocation()" class="btn btn-primary">Preview</span>
  </div>
</form>