<div ng-if="!profile.buyerProfile.active">
  <div class="row">
    <div class="col-sm-6">Your buyer profile is inactive.</div>
  </div>
  <div class="row mt20">
    <div class="col-sm-6">
      <button ui-sref="default.buyer_profile.shipping_addr" class="btn btn-primary">Activate buyer profile</button>
    </div>
  </div>
</div>
<div ng-if="profile.buyerProfile.active">
  <h4>Shipping Address</h4>
  <dl class="dl-horizontal">
    <dt>Address line 1</dt>
    <dd>{{profile.buyerProfile.shippingAddress.addressLine1}}
    <dt>Address line 2</dt>
    <dd>{{profile.buyerProfile.shippingAddress.addressLine2}}
    <dt>City
    <dd>{{profile.buyerProfile.shippingAddress.city}}
    <dt>Province
    <dd>{{profile.buyerProfile.shippingAddress.province}}
  </dl>
  <h4>Reimbursement Account</h4>
  <dl class="dl-horizontal">
    <dt>Bank
    <dd>{{profile.buyerProfile.reimbursementAccount.bank}}
    <dt>Account Name
    <dd>{{profile.buyerProfile.reimbursementAccount.accountName}}
    <dt>Account number
    <dd>{{profile.buyerProfile.reimbursementAccount.accountNumber | creditcard}}
  </dl>
  <div class="text-right">
    <button ui-sref="default.buyer_profile.shipping_addr" class="btn btn-default">Update buyer profile</button>
  </div>
  <hr>
  <h4>Buy Requests</h4>
  <p ng-if="!buyRequestHeaders.length">No buy requests</p>
  <div class="row" ng-if="buyRequestHeaders.length">
      <!-- Buy Requests list start -->
      <div ng-repeat="buyRequestHeader in buyRequestHeaders" class="col-sm-3">
        <div class="thumbnail">
          <img src="{{headerImageSource(buyRequestHeader)}}" alt="No image" class="pointer">
          <div class="caption">
            <h4>{{buyRequestHeader.title}}</h4>
            <p>{{buyRequestHeader.description ? buyRequestHeader.description : 'No description provided' | limitTo: 60}}{{buyRequest.description.length > 60 ? '...' : ''}}</p>
          </div>
          <hr>
          <div ng-repeat="buyRequest in buyRequestHeader.buyRequests">
            <div class="row">
              <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{buyRequest.posting && buyRequest.posting.imageUrl ? buyRequest.posting.imageUrl : '/images/no_image.jpg'}}" alt="No image">
                </div>
              </div>
              <div class="col-sm-8">
                <div>{{buyRequest.quantity}} {{buyRequest.title}}</div>
                <div ng-if="buyRequest.posting">
                  <div><small class="text-muted"><i class="fa fa-location-arrow"></i> {{buyRequest.posting.location.name}}</small></div>
                  <div><small class="text-muted">{{buyRequest.posting.price | currency: '₱ '}}</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Buy Requests list end -->
  </div>
</div>