<!-- This is the +New button -->
<div class="row">
  <div class="col-sm-12 text-right">
    <a ui-sref="default.posting.new.start" class="btn btn-primary"><i class="fa fa-plus"></i> New</a>
  </div>
</div>

<div class="row mt20">
  <!-- Alert if nothing posted -->
  <div ng-if="!postings.data.length" class="col-sm-12">
    No items posted
  </div>

  <!-- Postings list start -->
  <div ng-repeat="post in postings.data" class="col-sm-3">
    <div class="thumbnail">
      <img src="{{post.imageUrl ? post.imageUrl : '/images/no_image.jpg'}}" ui-sref="default.posting.details({postingId: post.id, title: convertToSlug(post.title)})" alt="No image" class="pointer">
      <div class="caption">
        <h4>{{post.title}} <br/>
          <small><i class="fa fa-location-arrow"></i> {{post.location.name | limitTo: 20}}</small><br/>
          <small><i class="fa fa-clock-o"></i> Posted {{post.dateCreated | fromNow}}</small>
        </h4>
        <p>{{post.description | limitTo: 60}}{{post.description.length > 60 ? '...' : ''}}</p>
      </div>
    </div>
  </div>
</div>