<div class="alert alert-info">
  <img src="/images/squirrel.png" height="16px"/>
  <a ui-sref="default.browse"> Pabili</a>
  > <a ui-sref="default.profile_others.buyrequests({username: buyRequestHeader.creator})">{{buyRequestHeader.creator}}'s Buy Requests</a>
  > {{buyRequestHeader.title}}
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
      <img src="{{headerImageSource(buyRequestHeader)}}" alt="No image">
      <div class="caption">
        <h4>{{buyRequestHeader.title}} <br/>
          <small><i class="fa fa-clock-o"></i>&nbsp; Posted {{buyRequestHeader.dateCreated | fromNow}}</small>
        </h4>
        <p>{{post.description | limitTo: 60}}{{post.description.length > 60 ? '...' : ''}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h4><small><i class="fa fa-pencil"></i> {{buyRequestHeader.dateUpdated ? buyRequestHeader.dateUpdated : buyRequestHeader.dateCreated | date}}</small></h4>
    <h3>{{buyRequestHeader.title}}</h3>
    <h4>
      <small><i class="fa fa-user"></i>&nbsp; {{buyRequestHeader.creator}}</small>
    </h4>
    <hr />
    <p><strong>Description</strong></p>
    <p ng-if="buyRequestHeader.description">{{buyRequestHeader.description}}</p>
    <hr />
    
    <!-- Items -->
    <p><strong>Items</strong></p>
    <div ng-repeat="buyRequest in buyRequestHeader.buyRequests" class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{{buyRequest.posting && buyRequest.posting.imageUrl ? buyRequest.posting.imageUrl : '/images/no_image.jpg'}}" alt="No image">
        </div>
      </div>
      <div class="col-sm-8">
        <div>{{buyRequest.quantity}}x {{buyRequest.title}}</div>
        <div ng-if="buyRequest.posting">
          <div><small class="text-muted"><i class="fa fa-location-arrow"></i> {{buyRequest.posting.location.name}}</small></div>
          <div><small class="text-muted">{{buyRequest.posting.price | currency: '₱ '}}</small></div>
        </div>
      </div>
    </div>
    <hr />

    <!-- User actions for anonymous users -->
    <div ng-if="!authenticated()">
      <p>You must be logged in to message the owner or create a shipping proposal. Click <a ui-sref="default.login">here</a> to login or register.
    </div>

    <!-- User actions other users -->
    <div ng-if="authenticated() && buyRequestHeader.creator != principal.username">
      <span class="btn btn-primary"><i class="fa fa-envelope"></i> Message Requestor / Create Proposal</span>
    </div>

    <!-- User actions for requestor -->
    <div ng-if="authenticated() && buyRequestHeader.creator === principal.username">
      <span class="btn btn-success"><i class="fa fa-pencil"></i> Edit buy request</span>
      <span class="btn btn-default"><i class="fa fa-close"></i> Cancel buy request</span>
    </div>
  </div>
</div>